{% extends 'flatpages/default.html' %}

{% block content %}

<h1>Вы действительно хотите удалить данный товар?</h1>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Автор
        </th>
        <th>
            Предпросмотр
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.date|title }}
        </td>
        <td>
            {{ post.author }}
        </td>
        <td>
            {{ post.preview }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}