<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет NewsPortal -->
{% block title %}
NewsPortal
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<div class="page-container">
    <!-- Контент новостей -->
    <div class="content">
        {% if news %}
            <h1 style="text-align: left;">Всего новостей: {{ news|length }}</h1>
            <table>
                <tr>
                    <td>Заголовок</td>
                    <td>Дата</td>
                    <td>Предпросмотр</td>
                </tr>
                {% for item in news %}
                <tr>
                    <td>
                        <!-- При нажатии на заголовок в таблице нас теперь будет перекидывать на страницу с информацией о посте -->
                        <a href="{% url 'post' item.id %}">{{ item.title|censor }}</a>

                    </td>
                    <td>{{ item.date_time|date:'d M Y' }}</td>
                    <td>{{ item.text|truncatewords:20|censor }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>Новостей нет!</h1>
        {% endif %}
    </div>

{% endblock content %}